@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-200: #f0edff;
  --color-primary-300: #dad5fb;
  --color-primary-600: #5e63b6;
  --color-primary-700: #534da9;

  --color-gray-100: #f5f5f5;
  --color-gray-300: #bbbbbb;
  --color-gray-600: #777777;
  --color-gray-700: #555555;
  --color-gray-750: #444444;
  --color-gray-800: #333333;

  --color-red-100: #fbd5d6;
  --color-red-300: #ff4e51;
  --color-red-700: #b30003;

  --color-orange-500: #ff8000;

  --color-jade-100: #f0fdf4;
  --color-jade-300: #b9f8cf;
  --color-jade-500: #008236;

  --color-royal-blue-100: #eff6ff;
  --color-royal-blue-300: #bedbff;
  --color-royal-blue-700: #1447e6;
}

@theme {
  --container-full-with-margins: calc(100% - 48px);
  --container-full-area: 1440px;
  --container-main-area: 744px;

  --breakpoint-full-width: 1440px;
  --breakpoint-medium-width: 940px;
  --breakpoint-small-width: 720px;
  --breakpoint-xs-width: 480px;
  --breakpoint-2xs-width: 360px;
}

@theme inline {
  --color-background: var(--color-gray-100);
  --color-foreground: var(--color-black);
  --font-sans: var(--font-montserrat-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  font-size: var(--text-sm);
}

hr {
  color: color-mix(in oklab, var(--color-black) 10%, transparent);
}

@utility card {
  border-radius: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 6);
  background: var(--color-white);
  box-shadow: 0 2px 8px -4px
    color-mix(in oklab, var(--color-black) 15%, transparent);
  border: 1px solid color-mix(in oklab, var(--color-black) 10%, transparent);
}

a {
  transition: all 100ms ease;
  @apply outline-0 outline-offset-1 outline-primary-300 focus-visible:outline-2;
}
