@import "tailwindcss";

@theme {
  --color-primary-200: #f0edff;
  --color-primary-300: #dad5fb;
  --color-primary-600: #5e63b6;
  --color-primary-700: #534da9;

  --color-gray-100: #f5f5f5;
  --color-gray-300: #bbbbbb;
  --color-gray-600: #777777;
  --color-gray-700: #555555;
  --color-gray-750: #444444;
  --color-gray-800: #333333;

  --color-red-100: #fbd5d6;
  --color-red-300: #ff4e51;

  --color-orange-500: #ff8000;
}

@theme inline {
  --color-background: var(--color-gray-100);
  --color-foreground: var(--color-black);
  --font-sans: var(--font-montserrat-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
